<%= simple_form_for @post do |f| %>
  <br>
  <div class="form-group">
  	<%= f.text_field :title, class: "form-control", label: false %>
	</div>
  <br>
	<div class="form-group">
  	<%= f.text_area :text, class: "form-control", label: false, rows: "10" %><br>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <%= f.file_field :photo %>
    </div>
    <div class="btn-group col-md-7 text-center" data-toggle="buttons">
  		<%= f.collection_radio_buttons :emotion_id, Emotion.order(:name), :id, :name do |b| %>
        <%= b.radio_button %><br>
        <%= image_tag "#{b.text}.png", size: "40x40", style: "margin: 0 10px;" %>
      <% end %>
  	</div>
    <div class="form-group col-md-2 text-right">
      <%= f.button :submit, class: "btn btn-default", value: "Write" %>
    </div>
  </div>
<% end %>