<h1>My page</h1>
<p>
  <strong>팔로워</strong> : <%= current_user.followers.length %> | 
  <% current_user.followers.each do |follower| %>
      <%= follower.name %>, 
  <% end %>
</p>

<p>
	<strong>팔로잉</strong> : <%= current_user.followings.length %> |
	<% current_user.followings.each do |following| %>
      <%= following.name %>, 
  <% end %>
</p>

<%= render partial: "list", locals: {zone: @posts } %>