<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Diaryram</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/posts">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/posts/new">New diary</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/hashtags">Hashtag</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/emotions">Emotion</a>
                    </li>
                    <li>
                    <span id="userid">
                        <% if user_signed_in? %>
                            <%= image_tag(current_user.image, size: '20x20', style:'border-radius:3px;vertical-align:top;') if current_user.image %>
                            <%= current_user.name %> 
                          
                    <% end %>
                        
                    </span>
                    </li>
                    <li>
                    <% if user_signed_in? %>
                      <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" }, class: "page-scroll" %>
                    <% end %>

                    </li>
                    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container" style="padding-top: 100px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <%= yield %>
        </div>
        <div class="col-md-2"></div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
